* {
  box-sizing: border-box;
  word-break: break-all;
}

html {
  font-size: 10px;
}

@media (max-width: 767px) {
  html {
    font-size: 11px;
  }
}

/* Can be realized with appContainer throw styled-components */
